{{#if cantidad}}
<table class="table table-striped tabla">
    <thead class="tablaTitulos">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
        </tr>
    </thead>
    <tbody id="tableContent">
        {{#each productos}}
            <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.title}}</td>
                <td>{{this.price}} $</td>
                <td>
                    <div class="contenedor_img">
                        <img class="img" src={{this.thumbnail}} alt={{this.title}}/>
                    </div>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<h2>No hay productos!</h2>
{{/if}}